/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  height: 100%;
}

/* Header Styles */
header {
  background-color: rgb(109, 73, 10);
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
  color: #fff; /* Add hover color */
}

/* Main Content Styles */
main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}
.section-heading {
  color: rgb(109, 73, 10);
}
/* Footer Styles */
footer {
  background-color: rgb(109, 73, 10);
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Contact Us form */
.contact-form {
  margin: 12px;
}
.contact-container {
  width: 90%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: rgb(109, 73, 10);
}
input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
input:focus, textarea:focus {
  border-color: rgb(109, 73, 10);
  outline: none;
  box-shadow: 0 0 5px rgb(109, 73, 10);
}

button {
  width: 100%;
  padding: 10px;
  background: rgb(109, 73, 10);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: rgb(132, 100, 52);
}

.message-output {
  margin-top: 20px;
  color: rgb(109, 73, 10);
  font-size: 14px;
  text-align: center;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}